trunk/Trunk/V0.1/Medical.Sync/Service References/SyncService/Sync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="GetConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMasterData">
        <s:complexType />
      </s:element>
      <s:element name="GetMasterDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMasterDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectionString" />
  </wsdl:message>
  <wsdl:message name="GetConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetMasterDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetMasterData" />
  </wsdl:message>
  <wsdl:message name="GetMasterDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetMasterDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <wsdl:input message="tns:GetConnectionStringSoapIn" />
      <wsdl:output message="tns:GetConnectionStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMasterData">
      <wsdl:input message="tns:GetMasterDataSoapIn" />
      <wsdl:output message="tns:GetMasterDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncSoap" type="tns:SyncSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <soap:operation soapAction="http://tempuri.org/GetConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterData">
      <soap:operation soapAction="http://tempuri.org/GetMasterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncSoap12" type="tns:SyncSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionString">
      <soap12:operation soapAction="http://tempuri.org/GetConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterData">
      <soap12:operation soapAction="http://tempuri.org/GetMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sync">
    <wsdl:port name="SyncSoap" binding="tns:SyncSoap">
      <soap:address location="http://localhost:52230/Sync.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncSoap12" binding="tns:SyncSoap12">
      <soap12:address location="http://localhost:52230/Sync.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>